* {
  box-sizing: border-box;
}
body {
  background: rgb(233, 233, 233);
}
img {
  max-width: 85%;
  max-height: 85%;
}
.noDisp {
  display: none;
}
.main {
  max-width: 60%;
  margin: auto;
}
.content {
  display: flex;
  flex-direction: row;
}
.alpacaImg {
  background-image: url("alpaca/backgrounds/darkblue70.png");
  height: 48.07vh;
  width: 24vw;
  position: relative;
}
.earings,
.flower,
.glasses,
.headphone,
.ears,
.eyes,
.hair,
.leg,
.mouth,
.neck,
.nose {
  position: absolute;
}
.neck {
  top: 17.6%;
  left: 3%;
}
.nose {
  top: 17%;
  left: 3%;
}
.mouth {
  top: 16.5%;
  left: 3.5%;
}
.hair {
  top: 17%;
  z-index: 1;
}
.leg {
  top: 17.6%;
  left: 5%;
}
.ears {
  top: 16.5%;
  left: 1%;
}
.eyes {
  top: 17.5%;
  left: 3%;
  z-index: 2;
}

/* Accessories */
.earings {
  top: 15.5%;
  left: 2%;
}
.flower {
  top: 16%;
  z-index: 2;
}
.glasses {
  top: 16.5%;
  left: 6%;
  z-index: 2;
}
.headphone {
  top: 17%;
}
