* {
  box-sizing: border-box;
}
:root {
  --primary: #001540;
  --secondary: rgba(0, 21, 64, 0.721);
}
body {
  background: rgb(233, 233, 233);
  font-family: "Roboto", sans-serif;
}
img {
  max-width: 85%;
  max-height: 85%;
}
.noDisp {
  display: none;
}
.main {
  max-width: 60%;
  height: 80vh;
  margin: auto;
}
.main h1 {
  color: rgba(2, 24, 56, 0.911);
  font-weight: bolder;
  font-size: 60px;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}
.alpacaImg {
  background: url("alpaca/backgrounds/darkblue70.png");
  height: 48.07vh;
  width: 24vw;
  position: relative;
  transition: 1s;
}
.earings,
.flower,
.glasses,
.headphone,
.ears,
.eyes,
.hair,
.leg,
.mouth,
.neck,
.nose {
  position: absolute;
}
.neck {
  top: 17.6%;
  left: 3%;
}
.nose {
  top: 17%;
  left: 3%;
}
.mouth {
  top: 16.5%;
  left: 3.5%;
}
.hair {
  top: 17%;
  z-index: 1;
}
.leg {
  top: 17.6%;
  left: 5%;
}
.ears {
  top: 16.5%;
  left: 1%;
}
.eyes {
  top: 17.5%;
  left: 3%;
  z-index: 2;
}
/* Accessories */
.earings {
  top: 15.5%;
  left: 2%;
}
.flower {
  top: 16%;
  z-index: 2;
}
.glasses {
  top: 16.5%;
  left: 6%;
  z-index: 2;
}
.headphone {
  top: 17%;
}
.download,
.random {
  border: none;
  background: white;
  width: 11.4vw;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 25px;
}
.random {
  margin-right: 8px;
}
.download {
  margin-left: 8px;
}
.random:hover {
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.download:hover {
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.choices {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.buttons,
.styles {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 20%;
  width: 70%;
}
.buttons button,
.styles button {
  flex-basis: 30%;
  margin: 5px;
  transition: 1s;
}
.accessoriesB,
.backgroundB {
  flex-grow: 1;
}
.buttons button,
.hairStyle button,
.accessoryStyle button,
.legStyle button,
.neckStyle button,
.mouthStyle button,
.eyeStyle button,
.earStyle button {
  border: solid 2px var(--secondary);
  padding: 15px 25px;
  border-radius: 30px;
  color: var(--secondary);
}
.buttons button:hover,
.hairStyle button:hover,
.earStyle button:hover,
.eyeStyle button:hover,
.mouthStyle button:hover,
.neckStyle button:hover,
.legStyle button:hover,
.accessoryStyle button:hover {
  border: solid 2.1px var(--primary);
  color: var(--primary);
  font-weight: bold;
}
.back {
  flex-basis: 100%;
  height: 180px;
}
.backColors {
  display: flex;
}
.blue,
.dBlue,
.green,
.grey,
.red,
.yellow {
  flex-basis: 16%;
  height: 100%;
}
.backColors button {
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  transition: transform 1s;
}
.backColors button:hover {
  transform: scale(1.3);
}

/* For javascript */
.active {
  background: var(--primary) !important;
  color: white !important;
  font-weight: bold !important;
}
.activeColor {
  transform: scale(1.2);
}
/* Media Query */
@media screen and (min-width: 280px) and (max-width: 768px) {
  .main {
    max-width: 100%;
  }
  .main h1 {
    font-size: 30px;
  }
  .download,
  .random {
    width: 46.5%;
  }
  .content {
    flex-direction: column;
  }
  .alpacaImg {
    width: 100%;
    height: 55vh;
  }
  .buttons,
  .styles {
    width: 100%;
  }
}
